* 
{
    margin:0px;
    padding:0px;
}
body
{
    color:#333333;
    font-family:Georgia, serif;
}
h1 
{
    width:600px;
    font-family:"Gill Sans", "Gill Sans MT", Sans-Serif;
    font-size:72px;
    color:#8CCF49;
    margin-top:24px;
    margin-bottom:-8px;
    text-align:center;
    text-shadow:#589977 1px 1px 1px;
    letter-spacing:-1px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
h2 
{
    color:#666666;
    font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-style:italic;
    text-align:center;
    padding-bottom:16px;
    display:block;
    width:812px;
    border-bottom:1px dashed #999999;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:16px;
}
.content
{
    display:block;
    width:812px;
    border-bottom:1px dashed #999999;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:16px;
    padding-bottom:16px;
    line-height:28px;
}
body .content:last-child
{
    border-bottom:none;
}
.codesample
{
    width:480px;
    display:block;
    font-family:Consolas, "Lucida Console", monospace;
    font-size:14px;
    background-color:rgb(12,16,33);
    color:rgb(248,248,248);
    float:right;
    padding:8px 16px;
    border-radius:12px;
    -moz-border-radius:12px;
    -webkit-border-radius:12px;
}
.keyword      { color:rgb(251,222,45); }
.defname      { color:rgb(255,100,0); }
.identifier   { color:rgb(141,166,206); }
.operator     { color:rgb(251,222,45); }
.string       { color:rgb(97,206,60); }
.questionphp  { color:rgb(217,85,193); }